In [2]:
import pandas as pd

df = pd.read_csv("Full_Expanded_Clarkson_Hockey_Dataset.csv", 
                 header=None, 
                 encoding="latin1")

df.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,Scoring,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Suspension,Healthy Scratch,Blocked Shots,Faceoff %,Time on Ice (min/game),Injury Type,Return Timeline (days),Weight Room Hours/Week,On-Ice Conditioning Score,Sleep Hours/Day
1,NaN,MEN 2024-2025 Overall Clarkson Stats,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Conference,...,No,No,2,47.41,15.9,Hip,28,4,91.84,8.3
2,"Name, Pos, Yr",GP,G,A,PTS,PIM,GW,PP,NaN,GP,...,No,No,0,50.49,19.05,Knee,5,5,97.75,7.6
3,"Ayrton Martino, F, Sr",39,25,26,51,8,8,3,NaN,22,...,No,No,4,46.41,8.82,Ankle,10,2,63.45,8.2
4,"Ellis Rickwood, F, Jr",39,10,25,35,22,0,6,NaN,22,...,No,No,1,55.29,24.14,Concussion,25,3,90.88,6.2

In [3]:
df = pd.read_csv("Full_Expanded_Clarkson_Hockey_Dataset.csv",
                 header=None,
                 encoding="latin1",
                 encoding_errors="ignore")

df.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,Scoring,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Suspension,Healthy Scratch,Blocked Shots,Faceoff %,Time on Ice (min/game),Injury Type,Return Timeline (days),Weight Room Hours/Week,On-Ice Conditioning Score,Sleep Hours/Day
1,NaN,MEN 2024-2025 Overall Clarkson Stats,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Conference,...,No,No,2,47.41,15.9,Hip,28,4,91.84,8.3
2,"Name, Pos, Yr",GP,G,A,PTS,PIM,GW,PP,NaN,GP,...,No,No,0,50.49,19.05,Knee,5,5,97.75,7.6
3,"Ayrton Martino, F, Sr",39,25,26,51,8,8,3,NaN,22,...,No,No,4,46.41,8.82,Ankle,10,2,63.45,8.2
4,"Ellis Rickwood, F, Jr",39,10,25,35,22,0,6,NaN,22,...,No,No,1,55.29,24.14,Concussion,25,3,90.88,6.2

In [4]:
df = pd.read_csv("Full_Expanded_Clarkson_Hockey_Dataset.csv",
                 header=None,
                 encoding="latin1",
                 engine="python")

In [5]:
df = pd.read_csv("Full_Expanded_Clarkson_Hockey_Dataset.csv",
                 header=None,
                 encoding="latin1",
                 encoding_errors="ignore")

In [6]:
df.head(30)
df.tail(30)
df.shape

(74, 36)

In [7]:
df.head(20)
df.tail(20)
df.shape

(74, 36)

In [8]:
df.head(15)
df.tail(15)

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
59,"Julia Minotti, G, Jr",16,0,0,0,0,0,0,NaN,9,...,No,No,0,58.25,14.42,Shoulder,17,5,72.54,8.2
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,No,No,1,41.19,17.08,Ankle,18,3,63.6,8.5
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,No,No,1,54.15,16.44,Shoulder,7,5,78.76,8.2
62,Goaltending,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,No,No,2,43.97,14.62,Ankle,10,4,86.82,7.6
63,NaN,MEN Overall,NaN,NaN,NaN,NaN,NaN,Conference,NaN,NaN,...,No,No,1,43,13.06,Ankle,22,5,79.95,7.4
64,"Name, Yr",GP,W-L-T,GAA,SH,SV%,NaN,GP,W-L-T,GAA,...,No,No,1,48.55,9.7,Hip,23,4,66.12,8.5
65,"Marcus Brännman, Jr",5,2001-02-01 00:00:00,1.56,1,0.919,NaN,3,2-0-0,0.41,...,No,No,2,42.29,8.91,Concussion,9,3,74.71,6.6
66,"Ethan Langenegger, Gr",35,22-10-2,2.14,1,0.914,NaN,20,13-5-1,2.23,...,No,No,1,42.35,24.3,Concussion,19,3,60.1,8.9
67,"Brady Parker, Sr",1,0-1-0,2.92,0,0.857,NaN,1,0-1-0,2.92,...,No,No,1,47.79,22.4,Knee,29,3,93.86,8.1
68,Goaltending,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Yes,Yes,1,64.49,14.03,Hip,6,3,63.3,6.6
69,NaN,Women Overall,NaN,NaN,NaN,NaN,NaN,Conference,NaN,NaN,...,No,No,0,44.38,24.27,Ankle,14,3,83.29,8.2
70,"Name, Yr",GP,W-L-T,GAA,SH,SV%,NaN,GP,W-L-T,GAA,...,No,No,0,40.43,19.51,Concussion,28,4,98.46,7.6
71,"Holly Gruber, Sr",20,13-6-1,1.45,5,0.93,NaN,9,2001-06-02 00:00:00,1.54,...,No,No,0,59.08,16.2,Ankle,22,4,80.93,8.1
72,"Julia Minotti, Jr",16,2001-10-05 00:00:00,1.67,4,0.915,NaN,9,2000-05-04 00:00:00,1.88,...,No,Yes,2,60.17,16.38,Concussion,17,3,96.04,8.3
73,"Adreanna Doucette, Fr",4,2000-02-02 00:00:00,2.81,1,0.838,NaN,4,2000-02-02 00:00:00,2.81,...,No,No,4,48.66,9.42,Concussion,9,5,69.21,6.3

In [9]:
section_rows = df[df.apply(lambda row: row.astype(str).str.contains("MEN|Women|Goaltending|Overall", case=False).any(), axis=1)]
section_rows

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
1,NaN,MEN 2024-2025 Overall Clarkson Stats,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Conference,...,No,No,2,47.41,15.9,Hip,28,4,91.84,8.3
2,"Name, Pos, Yr",GP,G,A,PTS,PIM,GW,PP,NaN,GP,...,No,No,0,50.49,19.05,Knee,5,5,97.75,7.6
30,"Marcus Brännman, G, Jr",5,0,0,0,2,0,0,NaN,3,...,No,No,0,51.43,8.66,Shoulder,26,5,61.79,7.8
32,NaN,Women States Overall,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Conference,...,No,No,3,44.86,13.72,Shoulder,20,2,73.55,7.1
33,"Name, Pos, Yr",GP,G,A,PTS,PIM,GW,PP,NaN,GP,...,No,No,4,50.28,19.15,Knee,27,4,68.16,7
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,No,No,1,54.15,16.44,Shoulder,7,5,78.76,8.2
62,Goaltending,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,No,No,2,43.97,14.62,Ankle,10,4,86.82,7.6
63,NaN,MEN Overall,NaN,NaN,NaN,NaN,NaN,Conference,NaN,NaN,...,No,No,1,43,13.06,Ankle,22,5,79.95,7.4
68,Goaltending,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Yes,Yes,1,64.49,14.03,Hip,6,3,63.3,6.6
69,NaN,Women Overall,NaN,NaN,NaN,NaN,NaN,Conference,NaN,NaN,...,No,No,0,44.38,24.27,Ankle,14,3,83.29,8.2

In [10]:
men_start = 1      # example
men_end = 40       # example

men_df_raw = df.iloc[men_start:men_end].reset_index(drop=True)
men_df_raw.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,NaN,MEN 2024-2025 Overall Clarkson Stats,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Conference,...,No,No,2,47.41,15.9,Hip,28,4,91.84,8.3
1,"Name, Pos, Yr",GP,G,A,PTS,PIM,GW,PP,NaN,GP,...,No,No,0,50.49,19.05,Knee,5,5,97.75,7.6
2,"Ayrton Martino, F, Sr",39,25,26,51,8,8,3,NaN,22,...,No,No,4,46.41,8.82,Ankle,10,2,63.45,8.2
3,"Ellis Rickwood, F, Jr",39,10,25,35,22,0,6,NaN,22,...,No,No,1,55.29,24.14,Concussion,25,3,90.88,6.2
4,"Ryan Richardson, F, Sr",38,11,19,30,16,2,4,NaN,22,...,No,No,1,42.04,23.07,Ankle,10,2,83.01,6.4

In [12]:
men_df_raw.shape
men_df_raw.columns

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35],
      dtype='int64')

In [14]:
pd.set_option('display.max_columns', None)

men_df_raw.shape
men_df_raw.iloc[0]
men_df_raw.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35
0,NaN,MEN 2024-2025 Overall Clarkson Stats,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Conference,NaN,NaN,NaN,NHL Draft,NaN,Clarkson Records Men 2024-2025,NaN,NaN,NaN,NaN,NaN,Moderate,5,9,Inactive,Virus,No,No,2,47.41,15.9,Hip,28,4,91.84,8.3
1,"Name, Pos, Yr",GP,G,A,PTS,PIM,GW,PP,NaN,GP,G,A,Pts.,Player Drafted,NaN,Overall,24-12-3,NaN,NaN,NaN,NaN,Severe,2,11,Inactive,NaN,No,No,0,50.49,19.05,Knee,5,5,97.75,7.6
2,"Ayrton Martino, F, Sr",39,25,26,51,8,8,3,NaN,22,21,17,38,2021-DAL-3,NaN,Conference,15-6-1,NaN,NaN,ACL,NaN,NaN,0,11,Active,Cold,No,No,4,46.41,8.82,Ankle,10,2,63.45,8.2
3,"Ellis Rickwood, F, Jr",39,10,25,35,22,0,6,NaN,22,6,18,24,NaN,NaN,Overtime,2003-04-03 00:00:00,NaN,NaN,NaN,NaN,Moderate,7,8,Inactive,NaN,No,No,1,55.29,24.14,Concussion,25,3,90.88,6.2
4,"Ryan Richardson, F, Sr",38,11,19,30,16,2,4,NaN,22,5,13,18,NaN,NaN,Scoring First,18-4-1,NaN,NaN,NaN,NaN,Moderate,8,11,Inactive,NaN,No,No,1,42.04,23.07,Ankle,10,2,83.01,6.4

In [16]:
import pandas as pd

# Load full dataset
df = pd.read_csv("Full_Expanded_Clarkson_Hockey_Dataset.csv",
                 header=None,
                 encoding="latin1",
                 encoding_errors="ignore")

# Extract the men's section (rows 1–??)
# For now, let's take the first 40 rows — we will refine later
men_df_raw = df.iloc[1:40].reset_index(drop=True)

# Use row 0 of this slice as header
new_header = men_df_raw.iloc[0]

# Drop the header row from the data
men_df = men_df_raw[1:].reset_index(drop=True)

# Assign the header
men_df.columns = new_header

In [18]:
pd.set_option('display.max_columns', None)
list(men_df.columns)

[nan,
 'MEN 2024-2025 Overall Clarkson Stats',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Conference',
 nan,
 nan,
 nan,
 'NHL Draft',
 nan,
 '     Clarkson Records Men 2024-2025',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Moderate',
 '5',
 '9',
 'Inactive',
 'Virus',
 'No',
 'No',
 '2',
 '47.41',
 '15.9',
 'Hip',
 '28',
 '4',
 '91.84',
 '8.3']

In [19]:
import pandas as pd

df = pd.read_csv(
    "Full_Expanded_Clarkson_Hockey_Dataset.csv",
    header=None,
    encoding="latin1",
    encoding_errors="ignore"
)

In [20]:
men_section = df.iloc[1:40].reset_index(drop=True)

In [21]:
header = men_section.iloc[0]
men_df = men_section[1:].reset_index(drop=True)
men_df.columns = header

In [22]:
['Name, Pos, Yr', 'GP', 'G', 'A', 'PTS', 'PIM', 'GW', 'PP', ...]

['Name, Pos, Yr', 'GP', 'G', 'A', 'PTS', 'PIM', 'GW', 'PP', Ellipsis]

In [23]:
list(men_df.columns)

[nan,
 'MEN 2024-2025 Overall Clarkson Stats',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Conference',
 nan,
 nan,
 nan,
 'NHL Draft',
 nan,
 '     Clarkson Records Men 2024-2025',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Moderate',
 '5',
 '9',
 'Inactive',
 'Virus',
 'No',
 'No',
 '2',
 '47.41',
 '15.9',
 'Hip',
 '28',
 '4',
 '91.84',
 '8.3']

In [24]:
df[df.apply(lambda row: row.astype(str).str.contains("Name, Pos, Yr", case=False).any(), axis=1)]

df[df.apply(lambda row: row.astype(str).str.contains("MEN 2024-2025", case=False).any(), axis=1)]

df[df.apply(lambda row: row.astype(str).str.contains("Women", case=False).any(), axis=1)]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35
32,NaN,Women States Overall,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Conference,NaN,NaN,NaN,NaN,NaN,Clarkson Records Women,NaN,NaN,NaN,NaN,NaN,NaN,0,14,Active,Virus,No,No,3,44.86,13.72,Shoulder,20,2,73.55,7.1
69,NaN,Women Overall,NaN,NaN,NaN,NaN,NaN,Conference,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Severe,3,12,Inactive,Virus,No,No,0,44.38,24.27,Ankle,14,3,83.29,8.2

In [ ]:
TypeError: arg must be a list, tuple, 1‑d array, or Series

C:\Users\small\AppData\Local\Temp\ipykernel_41492\957855402.py:49: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  men_df[col] = pd.to_numeric(men_df[col], errors='ignore')

TypeError: arg must be a list, tuple, 1-d array, or Series

In [36]:
men_df.columns

Index(['Name, Pos, Yr', 'GP', 'G', 'A', 'PTS', 'PIM', 'GW', 'PP', 'nan', 'GP',
       'G', 'A', 'Pts.', 'Player Drafted', 'nan', 'Overall', '24-12-3', 'nan',
       'nan', 'nan', 'nan', 'Severe', '2', '11', 'Inactive', 'nan', 'No', 'No',
       '0', '50.49', '19.05', 'Knee', '5', '5', '97.75', '7.6', 'Name', 'Pos',
       'Yr'],
      dtype='object')

In [39]:
import pandas as pd

men_df = pd.read_csv("cleaned_mens_hockey_dataset.csv")

men_df = men_df.apply(pd.to_numeric, errors='coerce')

In [42]:
men_df = men_df.rename(columns={
    'Goals': 'G',
    'Assists': 'A'
})

In [44]:
for i, col in enumerate(men_df.columns):
    print(i, repr(col))

0 'Scoring'
1 'Unnamed: 1'
2 'Unnamed: 2'
3 'Unnamed: 3'
4 'Unnamed: 4'
5 'Unnamed: 5'
6 'Unnamed: 6'
7 'Unnamed: 7'
8 'Unnamed: 8'
9 'Unnamed: 9'
10 'Unnamed: 10'
11 'Unnamed: 11'
12 'Unnamed: 12'
13 'Unnamed: 13'
14 'Unnamed: 15'
15 'Unnamed: 16'
16 'Unnamed: 17'
17 'Unnamed: 18'
18 'Injuries'
19 'Unnamed: 20'
20 'Injury'
21 'Games Missed'
22 'Training Hours/Week'
23 'Availability Status'
24 'Illness'
25 'Suspension'
26 'Healthy Scratch'
27 'Blocked Shots'
28 'Faceoff %'
29 'Time on Ice (min/game)'
30 'Injury Type'
31 'Return Timeline (days)'
32 'Weight Room Hours/Week'
33 'On-Ice Conditioning Score'
34 'Sleep Hours/Day'

In [45]:
men_df = men_df.rename(columns={
    men_df.columns[2]: 'G',
    men_df.columns[3]: 'A',
    men_df.columns[4]: 'PTS',
    men_df.columns[5]: 'PIM',
    men_df.columns[6]: 'GW',
    men_df.columns[7]: 'PP'
})

In [46]:
men_df[['G', 'A', 'PTS']].head()

      G     A   PTS
0   NaN   NaN   NaN
1   NaN   NaN   NaN
2  25.0  26.0  51.0
3  10.0  25.0  35.0
4  11.0  19.0  30.0

In [47]:
men_df['PEI'] = (
    (men_df['G'] + men_df['A']) /
    men_df['Time on Ice (min/game)']
)

In [50]:
for i, col in enumerate(men_df.columns):
    print(i, repr(col))

0 'Scoring'
1 'Unnamed: 1'
2 'Unnamed: 2'
3 'Unnamed: 3'
4 'Unnamed: 4'
5 'Unnamed: 5'
6 'Unnamed: 6'
7 'Unnamed: 7'
8 'Unnamed: 8'
9 'Unnamed: 9'
10 'Unnamed: 10'
11 'Unnamed: 11'
12 'Unnamed: 12'
13 'Unnamed: 13'
14 'Unnamed: 15'
15 'Unnamed: 16'
16 'Unnamed: 17'
17 'Unnamed: 18'
18 'Injuries'
19 'Unnamed: 20'
20 'Injury'
21 'Games Missed'
22 'Training Hours/Week'
23 'Availability Status'
24 'Illness'
25 'Suspension'
26 'Healthy Scratch'
27 'Blocked Shots'
28 'Faceoff %'
29 'Time on Ice (min/game)'
30 'Injury Type'
31 'Return Timeline (days)'
32 'Weight Room Hours/Week'
33 'On-Ice Conditioning Score'
34 'Sleep Hours/Day'

In [52]:
import pandas as pd
import numpy as np

men_df = pd.read_csv("cleaned_mens_hockey_dataset.csv")
men_df.columns = men_df.columns.str.strip()

# ---------------------------
# HANDLE NAME / POSITION / YEAR
# ---------------------------

if 'Player' not in men_df.columns:
    # Assume first column contains combined name info
    name_col = men_df.columns[0]

    split = men_df[name_col].astype(str).str.split(',', expand=True)
    men_df['Player'] = split[0].str.strip()
    men_df['Position'] = split[1].str.strip()
    men_df['Year'] = split[2].str.strip()

    men_df = men_df.drop(columns=[name_col])

# ---------------------------
# RENAME SCORING COLUMNS BY POSITION
# ---------------------------

men_df = men_df.rename(columns={
    men_df.columns[1]: 'GP',
    men_df.columns[2]: 'G',
    men_df.columns[3]: 'A',
    men_df.columns[4]: 'PTS',
    men_df.columns[5]: 'PIM',
    men_df.columns[6]: 'GW',
    men_df.columns[7]: 'PP'
})

# ---------------------------
# CONVERT NUMERIC COLUMNS
# ---------------------------

non_numeric = ['Player', 'Position', 'Year', 'Injury Type']
numeric_cols = [c for c in men_df.columns if c not in non_numeric]

men_df[numeric_cols] = men_df[numeric_cols].apply(
    pd.to_numeric, errors='coerce'
)

# ---------------------------
# METRICS
# ---------------------------

men_df['PEI'] = (
    (men_df['G'] + men_df['A']) /
    men_df['Time on Ice (min/game)'].replace(0, np.nan)
)

men_df['Injury_Burden'] = (
    men_df['Return Timeline (days)'] *
    (men_df['Time on Ice (min/game)'] /
     men_df['Time on Ice (min/game)'].max())
)

# ---------------------------
# FINAL COLUMN ORDER
# ---------------------------

final_cols = [
    'Player', 'Position', 'Year',
    'GP', 'G', 'A', 'PTS', 'PIM', 'GW', 'PP',
    'Time on Ice (min/game)', 'PEI',
    'Injury Type', 'Return Timeline (days)', 'Injury_Burden',
    'Weight Room Hours/Week', 'On-Ice Conditioning Score', 'Sleep Hours/Day'
]

men_df = men_df[final_cols]

men_df.to_csv(
    "final_clarkson_mens_hockey_capstone_dataset.csv",
    index=False
)

men_df.head()

,Player,Position,Year,GP,G,A,PTS,PIM,GW,PP,Time on Ice (min/game),PEI,Injury Type,Return Timeline (days),Injury_Burden,Weight Room Hours/Week,On-Ice Conditioning Score,Sleep Hours/Day
0,nan,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.90,NaN,Hip,28,18.208589,4,91.84,8.3
1,Name,Pos,Yr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.05,NaN,Knee,5,3.895706,5,97.75,7.6
2,Ayrton Martino,F,Sr,25.0,26.0,51.0,8.0,8.0,3.0,NaN,8.82,8.730159,Ankle,10,3.607362,2,63.45,8.2
3,Ellis Rickwood,F,Jr,10.0,25.0,35.0,22.0,0.0,6.0,NaN,24.14,2.485501,Concussion,25,24.683027,3,90.88,6.2
4,Ryan Richardson,F,Sr,11.0,19.0,30.0,16.0,2.0,4.0,NaN,23.07,2.123971,Ankle,10,9.435583,2,83.01,6.4